@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply text-body h-full;
}
